beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
Django==1.11.4
django-debug-toolbar==1.8
gunicorn==19.7.1
idna==2.5
olefile==0.44
Pillow==4.2.1
pip-autoremove==0.9.0
pipdeptree==0.10.1
pytz==2017.2
requests==2.18.3
sqlparse==0.2.3
urllib3==1.22
whitenoise==3.3.0
