
/* FONT */

@font-face {
    font-family: 'Proxima Nova';
    src: url('fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot');
    src: url('fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff') format('woff'),
         url('fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.ttf') format('truetype'),
         url('fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.svg#proxima_nova_altregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* GENERAL */

body {
  min-height: 30rem; /* Can be removed; just added for demo purposes */

  /* Colours */
  --red: #ee6352;
  --blue: #416cde;
  --cyan: #46b1c9;
  --pink: #f16571;
  --pink-bright: #ee4266;
  --brown: #a3825f;
  --brown-gray: #4e4e4e;
  --orange: #f04e27;
  --aqua-green: #49c5a1;
  --dark-pink: #cf9aae;
  --green: #1e6464;

  /* Darker versions for hovers */
  --aqua-green-darker: #3faf8f;

  /* Others colours that match */
  --gray: #c1cfcc;
  --pink: #deaeae;
  --gray-blue: #a8cef3;
  --green-gray: #91b8ae;
  --blue-darker: #2656d9;


  /* Letters */
  --letter-light: rgba(255,255,255,0.9);

  /* Gray Scale */
  --gray-0: #343a40;
  --gray-1: #49525a;
  --gray-2: #4f5b66;
  --gray-3: #65737e;
  --gray-4: #a7adba;

  /* Others */
  --white: rgba(235,235,235,1); /* #ebebeb */
  --white-darker: rgba(235,235,235,.8);
  --white-darkest: rgba(235,235,235,.6);

  /* Global CSS Vars */

  --primary-color: var(--red);
  --primary-color-darker: #db5644;
  /*
  --primary-color: var(--aqua-green);
  --primary-color-darker: var(--aqua-green-darker); */

  color: var(--letter-light);
  font-family: 'Proxima Nova', Arial;
  font-size: 15px;
  background-color: var(--white);
}

.wrapper {
  background-color: var(--gray-0);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  font-weight: normal;
  font-family: 'Bungee Inline', Arial, sans-serif;
}

.h1 strong,
.h2 strong,
.h3 strong,
.h4 strong,
.h5 strong,
.h6 strong,
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong{
  color: white;
}

hr {
  border-color: var(--gray-3);
}

em {
  color: var(--primary-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
    list-style-type: none;
}

ul.list-tick li {
  padding-left: 1.3em;
}

ul.list-tick li:before {
  content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  color: var(--primary-color);
  display: inline-block;
  margin: 5px 0 5px -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

a {
  color: rgba(255,255,255,.7);
}

a:hover {
  color: var(--letter-light);
  text-decoration: none;
}

label {
  font-family: 'Bungee Inline', Arial, sans-serif;
  font-weight: 300;
  color: var(--primary-color);
  margin-bottom: 0;
  vertical-align: middle;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-50 {
  margin-top: 50px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

footer a {
  color: var(--primary-color)
}

footer a:hover {
  color: var(--primary-color-darker);
}

.modal-content {
  background-color: var(--gray-0) !important;
}

.modal-content textarea, .modal-content textarea:focus {
  background-color: rgba(255,255,255,.9);
}

.modal-header, .modal-footer {
  border: none;
}

.modal .close {
  color: white;
  text-shadow: none;
  cursor: pointer;
}

.navbar {
  margin-bottom: 0;
  background-color: var(--white);
}

.navbar .btn-login {
  color: black;
}

.navbar a:not(.btn-primary) {
  color: rgba(0,0,0,.7)
}

.navbar a:not(.btn-primary):hover {
  color: rgba(0,0,0,.9);
}

.navbar-brand {
  font-family: 'Baloo';
  font-size: 22px;
  font-weight: 300;
  margin-right: auto;
  padding: 0;
  color: var(--gray-0) !important;
}

.sidebar .navbar-brand {
  color: var(--primary-color) !important;
  font-size: 21px;
}

.navbar-toggler {
    margin-left: 50px;
}

.ul-login.desktop {
  display: none !important;
}

.ul-login li {
  display: block;
  line-height: 38px;
  margin-left: 30px;
}

.ul-login li:first-child {
  margin-left: 0;
}

.btn {
  cursor: pointer;
  font-family: 'Bungee Inline', Arial, sans-serif;
  font-weight: 300;
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
  color: white;
}

.btn-primary:hover, .btn-primary:active {
  background-color: var(--primary-color-darker) !important;
  border: none;
  color: white;
}

.btn-primary:focus, .btn-danger:focus, .btn-default:focus, .btn-secondary:focus {
  box-shadow: none !important;
}

.btn-default {
  background-color: white;
  color: white;
}

.btn-secondary {
}

.btn:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.badge-secondary {
  color: white;
}

.badge-light {
  background-color: var(--green-gray);
  color: white;
}

.badge em {
  color: inherit;
}

.details .badge.big {
  font-size: 1rem;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 0.4em 0.6em;
  width: 130px;
}

.details .badge.small {
  font-size: 0.8rem;
  position: relative;
  top: -4px;
}

.details .scores {
  margin-left: auto;
}

.mc.logo {
  position: relative;
  top: -2px;
}

.details .logo {
  margin-left: 5px;
  width: 20px;
  position: relative;
  top: -2px;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

main {
  min-height: calc(100vh - 186px); /* For debugging purposes */
  padding-top: 15px;
}

.grid {
  margin: 0 auto;
  text-align: center;
}

.card {
  /* float: left; */
  /* width: 33.333%; */
  width: 262px;
  margin-bottom: 2rem;
  border: 0;
  overflow: hidden;
  background-color: var(--primary-color);

  display: inline-block;
  vertical-align: top;
}

.card.card-bg-0 {background-color: var(--blue)}
.card.card-bg-1 {background-color: var(--aqua-green)}
.card.card-bg-2 {background-color: var(--brown)}
.card.card-bg-3 {background-color: var(--orange)}
.card.card-bg-4 {background-color: var(--dark-pink)}
.card.card-bg-5 {background-color: var(--green)}
.card.card-bg-6 {background-color: var(--green-gray)}

.card.without-notes {background-color: var(--primary-color)}

.card-imgCover {
  width: 100%;
}

.card-imgOverlay {
  padding: 5px 10px;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 0 4px;
  position: absolute;
  top: 0;
  right: 0;
}

.card:hover .card-imgOverlay{
  visibility: visible;
}

.card-button-bar .action-container {
  display: inline;
  cursor: pointer;
}

.card-button-bar i {
  margin: 5px;
  font-size: 25px;
  color: white;
}

.card .btn {
  background-color: var(--blue);
}

.card-text {
  text-align: left;
}

.card-text.only-tags {
  text-align: center;
  margin: 8px;
}

.card-text.only-tags p {
  margin-bottom: 0;
}

.card-text .more-link {
  margin-top: 8px;
  display: block;
}

.score-metacritic_score {
  font-family: Arial,Helvetica,sans-serif;
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  width: 70px;
  height: 70px;
  line-height: 70px;
  display: inline-block;
  vertical-align: top;
  background-color: #6c3;
}

.score-hltb_length {
  background: #287FC2;
  color: white;
  text-align: center;
  font-size: 20px;
  width: calc(100% - 70px);
  height: 70px;
  line-height: 70px;
  display: inline-block;
  vertical-align: top;
}

.score-hltb_length.full {
  width: 100%;
}

.card-content {
  padding: .75rem;
}

.card-gameTitle {
  font-size: 30px;
  font-family: Fjalla One;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 5px;
}

.card-gameTitle a {
  color: white;
}

.card-gameTitle.alone {
  margin-bottom: 0;
}

.card-gameTitle span {
  white-space: nowrap;
}

footer {
  margin-top: 40px;
  padding: 26px 0;
  background-color: var(--white);
}

footer p {
  margin-bottom: .25rem;
}

i.back-to-top {
  font-size: 50px;
  position: relative;
  top: -12px;
}


/* FORMS */

.form-control {
  background-color: var(--white);
}

input.form-control {
  width: 100%;
  border-radius: .15rem;
}

input.form-control::placeholder {
  color: var(--gray-4);
}

input[type=date] {
  height: 38px;
}

input.success, textarea.success {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA4IDgnPjxwYXRoIGZpbGw9JyM1Y2I4NWMnIGQ9J00yLjMgNi43M0wuNiA0LjUzYy0uNC0xLjA0LjQ2LTEuNCAxLjEtLjhsMS4xIDEuNCAzLjQtMy44Yy42LS42MyAxLjYtLjI3IDEuMi43bC00IDQuNmMtLjQzLjUtLjguNC0xLjEuMXonLz48L3N2Zz4=);
  padding-right: 2.25rem;
  background-repeat: no-repeat;
  background-position: top .5625rem right .5625rem;
  -webkit-background-size: 1.125rem 1.125rem;
  background-size: 1.125rem 1.125rem;
}

.checkbox {
  width: auto;
  margin-right: 10px;
}

.form-group {
  margin-bottom: 30px;
}

.start-intro {
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

.field-info {
  display: block;
  line-height: 22px;
  float: right;
}

.field-info.today.absolute {
  position: absolute;
  top: -23px;
  right: 0;
  margin-right: 0;
}

.field-info.info.absolute{
  position: absolute;
  top: 0;
  left: 125px;
}

small.field-info {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.3);
}

a.field-info {
  display: block;
  margin-right: 7px;
  line-height: 22px;
}

form.form-search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form-search input {
  width: 92%;
  box-shadow: inset 0 0 1px #000;
  border: none;
}


section.title {
  margin: 2em 0 3.2em;
  font-family: 'Bungee Inline', Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

section.title.small {
  margin: 4px 0 25px;
}

section.title h1, section.title h2 {
  font-size: 40px;
}

section.title.small h1, section.title.small h2 {
  font-size: 20px;
}

.subtitle {
    font-size: 16px;
    color: var(--white-darker);
    font-family: Proxima Nova;
    text-transform: none;
    text-align: center;
}

.errorlist.nonfield {
  margin-bottom: 10px;
  font-size: 80%;
}

.errorlist.nonfield:before{
  content: '*';
  margin-right: 5px;
  float: left;
}

.field-errors, .errorlist {
  color: var(--orange);
}

.figure-cover {
  display: flex;
  align-items: center;
  justify-content: center;
}

.figure-cover img {
  max-width: 100%;
}

.icon-container {
  width: 20px;
}

.played.appended {
  display: none;
}

.btn-toolbar .btn {
  height: 36px;
  margin-top: 6px;
}

.btn-margin-left {
  margin-left: auto;
}

.btn-primary.save-played.not-saved {
  background-color: var(--blue);
}

.btn-primary.save-played.not-saved:hover,
.btn-primary.save-played.not-saved:focus {
  background-color: var(--blue-darker) !important;
}

.note-list .empty {
  margin-bottom: 20px;
}

.note-list .note {
  display: flex;
  background: var(--gray);
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: .25rem;
}

.note-text {
  width: calc(100% - 27px);
  margin: 0;
  margin-right: 10px;
  padding: 3px 0 0 0;
  color: white;
}

.note-options {
}

.note-options p {
  color: black;
  font-size: 20px;
  cursor: pointer;
}

section.details .position-absolute {
  position: absolute;
  right: 0;
  top: 0;
}

section.details .score-hltb_length {
  width: 110px;
}

.strong-data {
  color: var(--primary-color);
  font-family: 'Bungee Inline';
}

section.danger-zone {
  margin-top: 50px;
}

.flash-messages {
  margin-top: 10px;
}

.alert {
  margin-bottom: 0;
}

/*[class*="col-"] {
  margin-bottom: 60px;
}

[class*="col-"]:last-child{
  margin-bottom: 0;
}*/

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 27px;
  }

  section.danger-zone {
    margin-top: 0;
  }

  .details .badge.big {
    font-size: 1.5rem;
    width: 200px;
  }
}


@media (min-width: 992px) {
  .ul-login.desktop {
    display: flex !important;
  }

  .mt-lg-0 {
    margin-top: 0 !important;
  }
}


@media (min-width: 1200px) {
  .subtitle {
    text-align: left;
    float: left;
    margin-right: -260px;
  }

  section.details .score-hltb_length {
    width: 130px;
  }
}

/* CHECKBOX */

.checkbox-wrapper input {
  display: none;
}

.checkbox-wrapper .checkbox-fancy-label {
  border-radius: .15rem;
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  margin: 10px 10px 10px 0;
  background: var(--white);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 12pt;
  color: #FFF;
  font-smoothing: antialiased;
}

.played .checkbox-wrapper .checkbox-fancy-label {
  margin-top: 8px;
}

.checkbox-wrapper .checkbox-fancy-label.check {
  border-radius: 5px;
}

.checkbox-wrapper .checkbox-fancy-label .fa {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  line-height: 30px;
  text-align: center;
}

.checkbox-wrapper.new-game {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.checkbox-wrapper.new-game .checkbox-fancy-label {
  border: 1px solid #ced4da;
  width: 38px;
  height: 38px;
  margin: 4px 0 0;
}

.checkbox-wrapper.new-game input:checked + .checkbox-fancy-label {
  border: 1px solid var(--blue);
}

.checkbox-wrapper.new-game .checkbox-fancy-label .fa {
  line-height: 38px;
}

.checkbox-wrapper input:checked + .checkbox-fancy-label {
  background: var(--blue);
}

.checkbox-wrapper input:checked + .checkbox-fancy-label .fa {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.beaten {
  font-size: 13px;
}


/* PAC-MAN Spinner */
.pac-man-container {
  height: 70px;
  width: 263px;
  margin: 40px 0;
}

.pac-man {
  border-radius: 50%;
  margin: 0 auto 0 0;
  /* margin-top: 5em; */
  border-radius: 100em 100em 0 0;
  background: #f00;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-animation: eating-top 0.5s infinite;
          animation: eating-top 0.5s infinite;
}
.pac-man,
.pac-man::before {
  width: 70px;
  height: calc(35px);
  background: #fed75a;
}
.pac-man::before {
  content: '';
  display: block;
  margin-top: calc(35px);
  position: absolute;
  -webkit-transform-origin: top;
          transform-origin: top;
  border-radius: 0 0 100em 100em;
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
  -webkit-animation: eating-bottom 0.5s infinite;
          animation: eating-bottom 0.5s infinite;
}
.pac-man::after {
  position: absolute;
  border-radius: 100em;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
  margin-top: calc(25px);
  margin-left: calc(25px);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: center 0.5s infinite, ball 0.5s -0.33s infinite linear;
          animation: center 0.5s infinite, ball 0.5s -0.33s infinite linear;
}
@-webkit-keyframes eating-top {
  0% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}
@keyframes eating-top {
  0% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}
@-webkit-keyframes eating-bottom {
  0% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
}
@keyframes eating-bottom {
  0% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(80deg);
            transform: rotate(80deg);
  }
}
@-webkit-keyframes center {
  0% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}
@keyframes center {
  0% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}
@-webkit-keyframes ball {
  0% {
    opacity: .7;
    -webkit-box-shadow: 70px 0 0 0 #fed75a, 120px 0 0 0 #fed75a, 170px 0 0 0 #fed75a, 220px 0 0 0 #fed75a;
            box-shadow: 70px 0 0 0 #fed75a, 120px 0 0 0 #fed75a, 170px 0 0 0 #fed75a, 220px 0 0 0 #fed75a;
  }
  100% {
    -webkit-box-shadow: 20px 0 0 0 #fed75a, 70px 0 0 0 #fed75a, 120px 0 0 0 #fed75a, 170px 0 0 0 #fed75a;
            box-shadow: 20px 0 0 0 #fed75a, 70px 0 0 0 #fed75a, 120px 0 0 0 #fed75a, 170px 0 0 0 #fed75a;
  }
}
@keyframes ball {
  0% {
    opacity: .7;
    -webkit-box-shadow: 70px 0 0 0 #fed75a, 120px 0 0 0 #fed75a, 170px 0 0 0 #fed75a, 220px 0 0 0 #fed75a;
            box-shadow: 70px 0 0 0 #fed75a, 120px 0 0 0 #fed75a, 170px 0 0 0 #fed75a, 220px 0 0 0 #fed75a;
  }
  100% {
    -webkit-box-shadow: 20px 0 0 0 #fed75a, 70px 0 0 0 #fed75a, 120px 0 0 0 #fed75a, 170px 0 0 0 #fed75a;
            box-shadow: 20px 0 0 0 #fed75a, 70px 0 0 0 #fed75a, 120px 0 0 0 #fed75a, 170px 0 0 0 #fed75a;
  }
}



/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 10;
    background: var(--gray-1);
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.sidebar div {
    outline: none;
}

.sidebar.active {
    left: 0;
}

.dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: var(--gray-1);
    position: absolute;
    top: 22px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.dismiss:hover {
    background: #fff;
    color: var(--gray-1);
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9;
    display: none;
}

.sidebar .sidebar-header {
    padding: 24px 20px 20px 15px;
    background: var(--gray-0);
}

.sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid var(--gray-0);
}

.sidebar ul.components i{
  font-size: 20px;
}

.sidebar ul p {
    color: #fff;
    padding: 10px;
}

.sidebar ul li .menu-item {
    padding: 10px;
    font-size: .9em;
    display: block;
    font-family: 'Bungee Inline', Arial, sans-serif;
    font-weight: 300;
}

.sidebar ul li .menu-item:hover {
    color: var(--gray-1);
    background: #fff;
}

.sidebar ul li .btn-container {
  padding-bottom: 15px;
  text-align: center;
}

.sidebar ul li .btn-container .btn {
  width: 92%;
}

.sidebar ul.list-unstyled li .menu-item {
    font-family: 'Proxima Nova', Arial, sans-serif;
}

.sidebar .sub-menu-ul{
    background: var(--gray-0);
}

.sidebar .sub-menu-ul .li-divided {
  display: inline-block;
  text-align: center;
}

.sidebar .sub-menu-ul li .menu-item {
  padding-left: 30px;
  font-size: 0.9em;
}

.sidebar .sub-menu-ul .li-divided .menu-item {
  padding-left: 10px;
}

.li-divided.one-half {
  width: 50%;
}

.li-divided.one-third {
  width: 33.33%;
}

.sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: var(--gray-0);
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\f0d7';;
  display: block;
  position: absolute;
  right: 20px;
  top: 5px;
  font-family: 'FontAwesome';
  font-weight: 900;
  font-size: 18px;
}

a[aria-expanded="true"]::before {
    content: '\f0d9';
}

/* SPINNER LOADER */

.loader {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: relative;
  margin: 0 auto;
}

.loader:before, .loader:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 5px solid transparent;
  border-top-color: white;
}

.loader:before{
  z-index: 100;
  animation: spin 1s infinite;
}

.loader:after{
  border: 5px solid #ccc;
}

@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}