{% extends 'parts/base.html' %}

{% block main %}
      <div class="grid">
          {% for game in games %}
            <div class="card card-{{ game.id }}" data-game-id="{{ game.id }}">
              <img class="card-imgCover" src="{{ game.coverUrl }}" alt="{{ game.name }} Cover">
              <div class="card-scores d-flex">
                {% if game.metacriticScore %}
                <div class="score-metacriticScore">
                    <span>{{ game.metacriticScore }}<span>
                </div>
                <div class="score-hltbLength">{{ game.hltbLength }}</div>
                {% else %}
                <div class="score-hltbLength full">{{ game.hltbLength }}</div>
                {% endif %}
              </div>
              <div class="card-content">
                  <div class="card-gameTitle">{{ game.name}}</div>
                  <p class="card-text">{{ game.synopsis }}</p>
                  <div class="btn-container">
                    {% if not game.finishedAt %}
                        <button class="btn-finished btn btn-default"><i class="fa fa-check" aria-hidden="true"></i></button>
                    {% endif %}
                    <button class="btn-add-note btn btn-default">Add Note</button>
                    <button class="btn-edit btn btn-default">Edit</button>
                  </div>
              </div>
            </div>
          {% empty %}
              <span>Sorry, we did not find any game</span>
          {% endfor %}

      </div>
{% endblock %}