{% extends 'parts/base.html' %}
{% load math_tags %}

{% block main %}
  <div class="container">
    <section class="title small">
      {% if not request.user.is_authenticated %}
        {# <p class="subtitle">You are seeing the data of user <em>Rafa</em></p> #}
      {% endif %}
      <h2 class="text-center">
        {% if  page == 'page-search-games' %}
            Searched by keywords: <strong>{{ keyword }}</strong>
        {% else %}
          {% if not year %}
            Currently playing
          {% elif beaten %}
            Beaten games <strong>{{ year }}</strong> - {{ games|length }}
          {% else %}
            Tried/checked games <strong>{{ year }}</strong> - {{ games|length }}
          {% endif %}
        {% endif %}
      </h2>
    </section>
  </div>
  <div>
    <section class="grid">
      {% for game in games %}
        <div class="card card-{{ game.id }} {# card-bg-{{ game.id|mod:7 }} #} {{ game.notes|yesno:',without-notes' }}" data-game-id="{{ game.id }}" data-game-name="{{ game.name }}">
          <img class="card-imgCover" src="{{ game.cover_url }}" alt="{{ game.name }} Cover">
          <div class="card-imgOverlay card-button-bar">
            {% include "parts/card-button-bar.html" %}
          </div>
          <div class="card-scores d-flex">
            {% if game.metacritic_score %}
              <div class="score-metacritic_score">
                  <span>{{ game.metacritic_score }}<span>
              </div>
            {% endif %}
            <div class="score-hltb_length {{ game.metacritic_score|yesno:',full' }}">
              {{ game.hltb_length|trim_trailing_zeroes|default_if_none:'Unknown!' }}
              {{ game.hltb_length|yesno:'Hours,' }}
            </div>
          </div>
          <div class="card-content">
            <div class="card-gameTitle {{ game.notes|yesno:',alone' }}">
              <span style="display:none;white-space:nowrap;">{{ game.name }}</span>
            </div>
            <div class="card-text {{ show_status|yesno:'only-tags,notes' }}">
              {% if show_status %}
                <p>
                  {% if game.stopped_playing_at %}
                    {{ game.beaten|yesno:'Beaten,Tried' }} in {{ game.stopped_playing_at|date:"Y" }}
                  {% else %}
                    Currently playing
                  {% endif %}
                </p>
              {% else %}
                {% for note in game.notes %}
                  <p class="note">{{ note.text }}</p>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </div>
      {% empty %}
        <div class="container">
          <span>Sorry, we did not find games. :)</span>
        </div>
      {% endfor %}
    </section>
  </div>
{% endblock %}
