{% extends 'parts/base.html' %}

{% block main %}
  <div class="container">

    <section class="title">
      <h1 class="text-center">{{ game.name }}</h1>
    </section>

    <section class="row">
      <div class="col-md mb-30">
        {# Game Form #}
        {{ game_form.non_field_errors }}
        <form action="{% url 'modify_game' game.id %}" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="form-group col-12 col-sm-8 col-md-12 col-lg-9">
              <label for="id_name">Name*:</label>
              <input value="{{ game.name }}" class="form-control" type="text" name="name" maxlength="255" required="" id="id_name">
              <small class="field-errors">{{ game_form.name.errors.as_text }}</small>
            </div>
            <div class="form-group col-12 col-sm-4 col-md-12 col-lg-3">
              <label for="id_metacritic_score"><img class="mc logo" src="/static/images/metacritic.png" alt="metacritic logo" width="18"> Score:</label>
              <input value="{{ game.metacritic_score }}" class="form-control" type="number" min="1" max="100" step="1" name="metacritic_score" maxlength="255" id="id_metacritic_score">
              <small class="field-errors">{{ game_form.metacritic_score.errors.as_text }}</small>
            </div>
            <div class="form-group col-12 col-sm-8 col-md-12 col-lg-9">
              <label for="id_developer">Developer:</label>
              <input value="{{ game.developer }}" class="form-control" type="text" name="developer" maxlength="255" id="id_developer">
              <small class="field-errors">{{ game_form.developer.errors.as_text }}</small>
            </div>
            <div class="form-group col-12 col-sm-4 col-md-12 col-lg-3">
              <label for="id_hltb_length"><img class="logo" src="/static/images/hltb.png" alt="metacritic logo" width="18"> HLTB:</label>
              <input value="{{ game.hltb_length }}" class="form-control" type="number" step="0.1" name="hltb_length" min="0" id="id_hltb_length">
              <small class="field-errors">{{ game_form.hltb_length.errors.as_text }}</small>
            </div>
            <div class="form-group col-12">
              <label for="id_cover_url">Cover Url from HowLongToBeat*:</label>
              <input value="{{ game.cover_url }}" class="form-control" type="url" name="cover_url" maxlength="255" required="" id="id_cover_url">
              <small class="field-errors">{{ game_form.cover_url.errors.as_text }}</small>
            </div>
            <div class="form-group col-12">
              <label for="id_synopsis">Synopsis:</label>
              <textarea class="form-control" name="synopsis" cols="40" rows="4" id="id_synopsis">{{ game.synopsis }}</textarea>
              <small class="field-errors">{{ game_form.synopsis.errors.as_text }}</small>
            </div>
            <div class="form-group col-12">
              <label for="id_genres">Genres:</label>
              <small class="field-info" title="Comma separated." data-toggle="tooltip" data-placement="left"><i class="fa fa-info-circle" aria-hidden="true"></i></small>
              <input value="{{ game.genres }}" class="form-control" type="text" name="genres" maxlength="255" id="id_genres">
              <small class="field-errors">{{ game_form.genres.errors.as_text }}</small>
            </div>
            <div class="form-group col-12 col-sm-6 col-md-12 col-lg-6">
              <label for="id_release_date">Game Release Date:</label>
              <input value="{{ game.release_date|date:'Y-m-d' }}" class="form-control" type="date" name="release_date" maxlength="255" id="id_release_date">
              <small class="field-errors">{{ game_form.release_date.errors.as_text }}</small>
            </div>
            <div class="form-group col-12 col-sm-6 col-md-12 col-lg-6">
              <small class="field-info" title="Leave this field intact for your first games. If later you wanna show any of them higher, just come by and give this field a higher number." data-toggle="tooltip" data-placement="left"><i class="fa fa-info-circle" aria-hidden="true"></i></small>
              <label for="id_order">Priority:</label>
              <input class="form-control" type="number" id="id_order" name="order" max="100" min="0" value="{{ game.order }}">
              <small class="field-errors">{{ game_form.order.errors.as_text }}</small>
            </div>
            <div class="col-12">
              <button class="btn btn-primary" type="submit">Update Game</button>
            </div>
          </div>
        </form>

        <hr>

        {# Notes block #}
        <h5 class="mt-30">Notes</h5>
        <div class="note-list mb-20">
          {% for note in game.note_set.all %}
            <div class="note" data-game-id="{{ game.id }}" data-note-id="{{ note.id }}">
              <p class="note-text">{{ note.text }}</p>
              <div class="note-options">
                <p class="action-edit-note mb-0" data-toggle="tooltip" data-placement="bottom" title="Editar nota">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </p>
                <p class="action-delete-note mb-0" data-toggle="tooltip" data-placement="bottom" title="Borrar nota">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </p>
              </div>
            </div>
          {% empty %}
            <div class="empty">You didn't add any note yet</div>
          {% endfor %}
          <button class="btn btn-primary action-add-note">Add note</button>
        </div>
      </div>

      <div class="col-md mb-30">

        {# Image #}
        <figure class="figure-cover mb-30">
          <img src="{{ game.cover_url }}" alt="">
        </figure>

        <hr>

        {# Playeds block #}
        <h5 class="mt-30 position-relative">
          <span>Played at</span>
          <small class="field-info info absolute" title="Add an empty played if you are playeding it at the moment." data-toggle="tooltip" data-placement="left"><i class="fa fa-info-circle" aria-hidden="true"></i></small>
        </h5>

        <div class="played-list data-game-id" data-game-id="{{ game.id }}">
          {% for played in playeds %}
            <div class="mb-30 played" data-id="{{ played.id }}">
              <div>
                <div class="position-relative mb-0">
                  <a href="" class="field-info put-todays-date today absolute"><small>Today</small></a>
                  <input value="{{ played.stopped_playing_at|date:'Y-m-d' }}" class="form-control get-todays-date" type="date" name="stopped_playing_at">
                </div>
                <div class="btn-toolbar mb-0">
                  
                  <div class="checkbox-wrapper">
                    <input id="beaten_{{ played.id }}" name="beaten" type="checkbox" {{ played.beaten|yesno:'checked,' }}>
                    <label class="checkbox-fancy-label" for="beaten_{{ played.id }}"><i class="fa fa-check"></i></label>
                    <label for="beaten_{{ played.id }}">Beaten?</label>
                  </div>

                  <div class="btn-margin-left">
                    <button class="save-played btn btn-primary ml-10">
                      <div class="icon-container">
                        <i class="fa fa-save"></i>
                      </div>
                    </button>

                    <button class="delete-played btn btn-danger ml-10">
                      <div class="icon-container">
                        <i class="fa fa-trash"></i>
                        </div>
                    </button>
                  </div>

                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        <button class="btn btn-sm btn-secondary action-add-played">Add played</button>
        <div class="row mt-10">
          <div class="col"><small class="field-errors playeds"></small></div>
        </div>

      </div>
    </section>

    <section class="row danger-zone">
      <div class="col">
        <form action="{% url 'delete_game' game.id %}"  class="alert alert-danger" role="alert">
          <button class="btn btn-danger" type="submit">Delete from the Database</button>
          <p class="mt-10">If you delete the game from the Database, it would be as it never existed</p>
        </form>
      </div>
    </section>

  </div>

{% endblock %}