

{% extends 'parts/base.html' %}

{% block main %}
  <div class="container">
    <section class="title text-center">
      <h1>Log in</h1>
    </section>
    <section class="">
      <div class="row">
        <div class="col-lg">
          {{ form.non_field_errors }}
          <form id="form-login" class="text-left" action="{% url 'login' %}" method="POST">
          {% csrf_token %}
            <ul>
              <li class="form-group">
                <label for="id_username">Username:</label> 
                <input class="form-control" type="text" name="username" autofocus="" maxlength="254" required="" id="id_username">
                <small class="field-errors">{{ form.username.errors.as_text }}</small>
              </li>
              <li class="form-group">
                <label for="id_password">Password:</label>
                <input class="form-control" type="password" name="password" required="" id="id_password">
                <small class="field-errors">{{ form.password.errors.as_text }}</small>
              </li>
            </ul>
            <button class="btn btn-primary" type="submit">Log in</button>
          </form>
        </div>
        <div class="col-lg text-left">
          With <em>What am I playing</em> you can:
          <ul class="list-tick">
            <li>Monitor what games have you beaten or tried... ever.</li>
            <li>Write quick notes about games while you playing. (your notes are private).</li>
            <li>Have a list of games you are playing at the moment.</li>
            <li>See data about your games in a glance</li>
            <li>And much more...</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
{% endblock %}