{% extends 'parts/base.html' %}

{% block main %}

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Album example</h1>

        {# Scrap Game Form #}
        {{ form.non_field_errors }}
        <form id="form-scrap" onsubmit="return false">
          {% csrf_token %}
          <input type="url" placeholder="metacriticUrl" name="metacriticUrl" id="id_metacriticUrl" value="http://www.metacritic.com/game/pc/pony-island">
          <input type="url" placeholder="hltbUrl" name="hltbUrl" id="id_hltbUrl" value="https://howlongtobeat.com/game.php?id=33405">
          <button type="submit">Scrap Game</button>
        </form>

        {# New Game Form #}
        {{ form.non_field_errors }}
        <form action="{% url 'add_game' %}" method="POST">
          {% csrf_token %}

          <li><label for="id_name">Name:</label> <input type="text" name="name" maxlength="255" required="" id="id_name"></li>
          <li><label for="id_coverUrl">CoverUrl:</label> <input type="url" name="coverUrl" maxlength="255" required="" id="id_coverUrl"></li>
          <li><label for="id_hltbLength">HltbLength:</label> <input type="text" name="hltbLength" maxlength="255" id="id_hltbLength"></li>
          <li><label for="id_synopsis">Synopsis:</label> <textarea name="synopsis" cols="40" rows="10" id="id_synopsis"></textarea></li>
          <li><label for="id_releaseDate">ReleaseDate:</label> <input type="text" name="releaseDate" maxlength="255" id="id_releaseDate"></li>
          <li><label for="id_developer">Developer:</label> <input type="text" name="developer" maxlength="255" id="id_developer"></li>
          <li><label for="id_genres">Genres:</label> <input type="text" name="genres" maxlength="255" id="id_genres"></li>
          <li><label for="id_metacriticScore">MetacriticScore:</label> <input type="text" name="metacriticScore" maxlength="255" id="id_metacriticScore"></li>
          <li><label for="id_startedAt">StartedAt:</label> <input type="date" name="startedAt" id="id_startedAt"></li>
          <li><label for="id_finishedAt">FinishedAt:</label> <input type="date" name="finishedAt" id="id_finishedAt"></li>
          <button class="btn btn-primary" type="submit">Add Game</button>
        </form>
      </div>
    </section>

{% endblock %}