{% extends 'parts/base.html' %}

{% block main %}
  <div class="container">
    <section class="title">
      <h1 class="text-center">Add a game</h1>
    </section>
    <section class="row">
      <div class="col">
        {# Scrap Game Form #}
        {{ form.non_field_errors }}
        <form id="form-scrap" onsubmit="return false">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">URL of Metacritic:</label>
            <input class="form-control" type="url" placeholder="http://www.metacritic.com/game/pc/pony-island" name="metacriticUrl" id="id_metacriticUrl" value="http://www.metacritic.com/game/pc/pony-island">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">URL of HowLongToBeat:</label>
            <input class="form-control" type="url" placeholder="https://howlongtobeat.com/game.php?id=33405" name="hltbUrl" id="id_hltbUrl" value="https://howlongtobeat.com/game.php?id=33405">
          </div>
          <button class="btn btn-primary" type="submit">Scrap Game</button>
        </form>
        <p></p>
        <p>You can autofill the next fields by scrapping. Fill up the previous form with Metacritic and HowLongToBeat URLs</p>
      </div>

      <div class="col">
        {# New Game Form #}
        {{ form.non_field_errors }}
        <form action="{% url 'add_game' %}" method="POST">
          {% csrf_token %}

          <li class="form-group"><label for="id_name">Name:</label> <input placeholder="Pony Island" class="form-control" type="text" name="name" maxlength="255" required="" id="id_name"></li>
          <li class="form-group"><label for="id_coverUrl">CoverUrl:</label> <input placeholder="https://howlongtobeat.com/gameimages/Pony_Island_header.jpg" class="form-control" type="url" name="coverUrl" maxlength="255" required="" id="id_coverUrl"></li>
          <li class="form-group"><label for="id_hltbLength">HltbLength:</label> <input placeholder="2½ Hours" class="form-control" type="text" name="hltbLength" maxlength="255" id="id_hltbLength"></li>
          <li class="form-group"><label for="id_synopsis">Synopsis:</label> <textarea placeholder="Pony Island is a suspense puzzle game in disguise. You are in limbo, trapped in a malevolent and malfunctioning arcade machine devised by the devil himself. The devil detests having his puzzles solved and poor programming exposed; you will need to think outside the box to proceed and you will be insulted when you do." class="form-control" name="synopsis" cols="40" rows="10" id="id_synopsis"></textarea></li>
          <li class="form-group"><label for="id_releaseDate">Release Date:</label> <input placeholder="Jan  4, 2016" class="form-control" type="text" name="releaseDate" maxlength="255" id="id_releaseDate"></li>
          <li class="form-group"><label for="id_developer">Developer:</label> <input placeholder="Daniel Mullins Games" class="form-control" type="text" name="developer" maxlength="255" id="id_developer"></li>
          <li class="form-group"><label for="id_genres">Genres:</label> <input placeholder="Puzzle, Investigation" class="form-control" type="text" name="genres" maxlength="255" id="id_genres"></li>
          <li class="form-group"><label for="id_metacriticScore">Metacritic Score:</label> <input placeholder="86" class="form-control" type="text" name="metacriticScore" maxlength="255" id="id_metacriticScore"></li>
          <li class="form-group"><label for="id_startedAt">You started playing at:</label> <input placeholder="Pony Island" class="form-control" type="date" name="startedAt" id="id_startedAt"></li>
          <li class="form-group"><label for="id_finishedAt">You finished the game at:</label> <input placeholder="Pony Island" class="form-control" type="date" name="finishedAt" id="id_finishedAt"></li>
          <button class="btn btn-primary" type="submit">Add Game</button>
        </form>
      </div>
    </section>
  </div>

{% endblock %}