{% extends 'parts/base.html' %}

{% block main %}
  <div class="container">
    <section class="text-center title">
      <h1>Your Profile</h1>
    </section>
    <section class="">    
      <div class="row">
        <div class="col-lg">
          {{ profile_form.non_field_errors }}
          <form class="text-left" action="{% url 'modify_logged_user' %}" method="POST">
          {% csrf_token %}
          <input type="hidden" name="user_info_change" id="id_change_profile" value="change_profile">
            <ul>
              {% for field in profile_form %}
                <li class="form-group">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {{ field }}
                  <small class="field-errors">{{ field.errors.as_text }}</small>
                </li>
              {% endfor %}
            </ul>
          <button class="btn btn-primary" type="submit">Change information</button>
          </form>
        </div>
        <div class="col-lg">
          {{ profile_form.non_field_errors }}
          <form class="text-left" action="{% url 'modify_logged_user' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="user_info_change" id="id_change_password" value="change_password">
            <ul>
              {% for field in password_form %}
                <li class="form-group">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {{ field }}
                  <small class="field-errors">{{ field.errors.as_text }}</small>
                </li>
              {% endfor %}
            </ul>
            <button class="btn btn-primary" type="submit">Change password</button>
          </form>
        </div>
      </div>
    </section>
  </div>
{% endblock %}