{% extends 'parts/base.html' %}

{% block main %}
  <section class="text-center">
    <section class="title">    
      <h1>Register</h1>
    </section>
    <div class="row">
      <div class="col-lg">
        <form class="text-left" action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        {% for field in registration_form %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            <small class="field-errors">{{ field.errors.as_text }}</small>
          </div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Register</button>
        </form>
      </div>
      <div class="col-lg text-left">
        With <em>What am I playing</em> you can:
        <ul class="list-tick">
          <li>Monitor what games have you finished or/and played... ever.</li>
          <li>Write quick notes about games while you playing.</li>
          <li>Have a list of games you are playing at the moment.</li>
          <li>See data about your games in a glance</li>
          <li>And much more...</li>
        </ul>
      </div>
    </div>
  </section>
{% endblock %}