{# In show_status views (search games) we prefer not to allow to change status #}
{% if not game.stopped_playing_at  and not show_status %}
  <div class="{{ request.user.is_authenticated|yesno:'action-finish-game,action-go-login-page' }} action-container" data-beaten="1" data-toggle="tooltip" data-placement="bottom" title="You have beaten this game!">
    <i class="fa fa-check" aria-hidden="true"></i>
  </div>
  <div class="{{ request.user.is_authenticated|yesno:'action-finish-game,action-go-login-page' }} action-container" data-beaten="" data-toggle="tooltip" data-placement="bottom" title="You stopped playing this game. But did not beat it, just tried.">
    <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
  </div>
{% endif %}
<a class="action-container" href="{% url 'modify_game' game.id %}" data-toggle="tooltip" data-placement="bottom" title="Edit game">
  <i class="fa fa-pencil" aria-hidden="true"></i>
</a>
<div class="{{ request.user.is_authenticated|yesno:'action-add-note,action-go-login-page' }} action-container" data-toggle="tooltip" data-placement="bottom" title="Add note">
  <i class="fa fa-sticky-note" aria-hidden="true"></i>
</div>